/* para arreglar que el pie de página se queda sin fondo, cuando la página es pequeña */
body {
   background: #E4EFF2;
}
   
   
/* cuadro para mostrar validaciones de formularios, mensajes de éxito y de información */
.validation, .success, .information {
   background-position: 10px 50%; /* x-pos y-pos */
   background-repeat: no-repeat;
   text-align: left;
   padding: 15px 20px 15px 60px;
   border-top: 2px solid;
   border-bottom: 2px solid;
   margin-top: -20px;
}

.validation {
   color: #D63301;
   background-color: #fff6bf;
   background-image: url('../images/mios/exclamation.png'); 
   border-color: #ffd324;
}

.success {
   color: #4F8A10;
   background-color: #DFF2BF;
   background-image: url('../images/mios/success.png');  
}

.information {
   color: #00529B;
   background-color: #BDE5F8;
   background-image: url('../images/mios/info.png');  
}

/* para poner una barra vertical */
.separador {
   background: transparent url("../images/mios/separador.gif") repeat-y 100% 0;
}

/* para alineación completa de una sección */
.justificado {
   text-align: justify; 
}
      
      
/* para poner un asterisco y el cursor de ayuda en tooltips */
a[title]  { cursor: help; }
a[title]:after  {  content: " *"; font-size: 85%; vertical-align: text-top; color: #D63301;}


/* para poner mensajes que ocupan toda la página con una imagen a la izquierda */
.mensaje {   
   /* width: 700px; margin-left:auto; margin-right:auto; */
   margin-left:5%; margin-right:5%;
   /*background-position: 0px 50%; */
   background-position:left top;
   background-repeat:no-repeat;
   text-align: justify;
   padding-left: 90px;  
   padding-bottom: 25px;
}
   
/* aquí para seleccionar la imagen a mostrar */
.mensaje#mensaje_email {
   background-image: url('../images/mios/icn_mail_received2.png');
}
.mensaje#mensaje_registro {
   background-image: url('../images/mios/new.png');
}
.mensaje#mensaje_registro_mal {
   background-image: url('../images/mios/wrong.png');
}

/* no lo hago con jquery porque en IE da problemas de presentación */
#oculto-inicialmente {
   display:none;
}

/* radio buttons estilizados */

.custom-checkbox { position: relative; display: inline; margin-left:-5px;  }
	
.custom-checkbox input {
	position: absolute;
	left: 2px;
	top: 3px;
	margin: 0;
	z-index: 0;	
}

.custom-checkbox label {
	display: inline;
	position: relative;	
	z-index: 1;
	padding-right: 1em;
	line-height: 1;
	padding: .5em 0 .5em 27px;
	margin: 0 0 .3em;
	cursor: pointer;
}

.custom-checkbox label {
	background: url(../images/mios/checkbox.gif) no-repeat; 
}

.custom-checkbox label, .custom-radio label {
	background-position: -10px -12px;
}
.custom-checkbox label.focus {
	background-position: -10px -113px;
}

.custom-checkbox label.focus.checked {
	background-position: -10px -313px;
}

.custom-checkbox label.checked {
	background-position: -10px -213px;
}

.custom-checkbox label.checkedHover, 
.custom-checkbox label.checkedFocus {
	background-position: -10px -313px;
}

/* En Firefox aparece un borde feo en los botones cuando tienen el foco */
.btn::-moz-focus-inner { border-color:transparent;}

/* Para que sean accesibles cambio la decoración -para que se sepa que tiene el foco- */
.btn:focus span { text-decoration: underline  };
